body {
    background-color: rgb(73, 99, 112);
}

.post-1 {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
   
}

.post-body {
    height: 450px;
    width: 100%;
}
.post-body img {
    height: 100%;
    width: 100%;
    display: block;
}
.post-body p {
    margin: 10px;
}

